@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap");
@import "tailwindcss";
@theme {
  /*Fonts*/
  --font-logo: "press start 2p";
  --font-heading: "Bungee Shade";
  --font-paragraph: "Montserrat";

  /*Colors*/
  --color-background: #3b7399;
  --color-logo: #d50202;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
